<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <h1 class="text-center fst-italic fw-light">What do you like .............?</h1>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="300px" width="200px" src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimg1.cookinglight.timeinc.net%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F4_3_horizontal_-_1200x900%2Fpublic%2Fupdated_main_images%2F1110se-tr-chocolate-mint-bars-x.jpg%3Fitok%3DDzjQaWrl" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title fw-light">Chocolate Pudding</h5>
                          <p class="card-text">Rs.160</p>
                          <a href="#" class="btn btn-primary">Buy Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="300px" width="200px" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/20200205-samoa-dessert-lasagna-ehg-9761-jpg-1582826734.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title fw-light">Caramel Pudding</h5>
                          <p class="card-text">Rs.140</p>
                          <a href="#" class="btn btn-primary">Go grab!</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="300px" width="200px" src="https://cdn.shopify.com/s/files/1/0521/3929/4884/products/EgglessRedVelvetCake1.jpg?v=1632141306" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title fw-light">Red Velvet</h5>
                          <p class="card-text">Rs.800</p>
                          <a href="#" class="btn btn-primary">Go grab!</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="300px" width="200px" src="https://www.justbake.in/userfiles/9.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title fw-light">Blueberry Cake</h5>
                          <p class="card-text">Rs.860</p>
                          <a href="#" class="btn btn-primary">Go grab!</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="300px" width="200px" src="http://cdn.shopify.com/s/files/1/0516/2831/0688/products/0I4A5488copy_1200x1200.jpg?v=1641169436" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title fw-light"></h5>
                          <p class="card-text">Rs.1260</p>
                          <a href="#" class="btn btn-primary">Go grab!</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="300px" width="200px" src="https://bakewithshivesh.com/wp-content/uploads/2021/05/IMG_8570-scaled.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title fw-light">Rainbow Cake</h5>
                          <p class="card-text">Rs.1160</p>
                          <a href="#" class="btn btn-primary">Go grab!</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
